.paginationBttns {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 2% 0;
  color: white;
}

.paginationBttns a {
  border: 2px solid black;
  padding: 5px 15px;
  border-radius: 50px;
  margin: 0 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: black;
}

.paginationBttns a:hover {

  color: black;
  background-color: white;
}